In [1]:
#Trataiento de datos
import pandas as pd
pd.set_option('display.max_columns', None)
#--------------
#Exploraci√≥n de archivos
import sys
sys.path.append('../')
#--------------

#Funciones personalizadas
from src import sp_limpieza as sl
#--------------

In [2]:
df_raw = pd.read_csv('../data/data_raw.csv')
df_raw.sample(5)

,User Id,Group,Visit Date,Conversion,Product Category,Product Id,Product Name,Quantity,Price,Discount,Total Value,Payment Method,Shipping Method,Region,Customer Age,Customer Gender,Device,Session Duration,Coupon Used,Browser,Referral Source
899,900,A,2022-01-29,0,BEAUTY,P1278,Perfume,0,"66,05","0,16","0,0",NaN,NaN,West,43.0,M,Desktop,18,NaN,Eddddge,Organic
1071,1072,A,2022-03-13,0,SPORTS,P1374,Tennis Racket,0,"192,98","0,3","0,0",NaN,NaN,North,42.0,M,TABLET,29,NaN,Chrooome,Email
1389,1390,A,2022-03-06,0,SPORTS,P1804,Football,0,"77,91","0,13","0,0",NaN,NaN,East,42.0,M,Desktop,10,NaN,Safaaaaari,PAID
1272,1273,B,2022-03-01,0,BOOKS,P1886,Novel,0,"47,13","0,07","0,0",NaN,NaN,Central,34.0,Other,Desktop,11,NaN,Ottttther,Email
496,497,B,2022-03-15,0,HOME,P1314,Table,0,"495,28","0,25","0,0",NaN,NaN,South,64.0,M,TABLET,2,NaN,Chrooome,PAID

In [3]:
df = df_raw.copy()

### Cambios nombres columnas

In [4]:
df.columns = df.columns.str.replace(' ', '_').str.lower()

### visit_date a fecha

In [5]:
df['visit_date'] = pd.to_datetime(df['visit_date'], format = '%Y-%m-%d')

### Crear conversion str

In [6]:
df['conversion_str'] = df['conversion'].apply(lambda x: 'yes' if x ==1 else 'no')

### Product cat fashhion

In [7]:
df['product_category'] = df['product_category'].str.replace('fashhion', 'fashion')

### Product id a num

In [8]:
df['product_id'] = df['product_id'].str.replace('P', '')
df['product_id'] = df['product_id'].astype('int64')

### Product Name cambiar espacios por _

In [9]:
sl.minus(df)

### Price , por . y tipo float

In [10]:
sl.comas(df)

### Payment method ' ' por '_'

In [11]:
sl.espacios(df)

### map de browser

In [12]:
dicc_map ={'safaaaaari' : 'safari', 
           'ottttther' : 'other', 
           'firefoxxxxxx': 'firefox', 
           'eddddge': 'edge', 
           'chrooome':'chrome'}

In [13]:
df['browser'] = df['browser'].map(dicc_map)

In [15]:
df.to_csv('../data/data_limpios.csv', index=False)